{% extends "menu/index.html" %}

{% block title %}<title>Tutorías: Agregar tarea de tutor</title>{% endblock %}

{% block content %}
    {% block warning %}
        {% if success %}
            <div id="separador" class="alert alert-success" role="alert">
                La tarea <b>{{ tarea.titulo }}</b> fue asignada correctamente al tutor <b>{{ tutor }}</b>.
            </div>
        {% endif %}

    {% endblock %}

    <div class="container">
        <h2>Nueva Tarea</h2>
        <div class="row">
            <div class="col">
                <form method="post">{% csrf_token %}
                    {% include 'common/form_template.html' with form=form %}
                    {{ form.media }}
                    <button type="submit" style="margin-top: 10px; float: right;" class="btn btn-primary">Añadir</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}