{% extends "menu/index.html" %}

{% block title %}<title>Tutorías: Agregar tipo de intervencion</title>{% endblock %}

{% block content %}
    {% block warning %}
        {% if not_found %}
            <div id="separador" class="alert alert-danger" role="alert">
                Tipo de intervencion invalida o existente.
            </div>
        {% endif %}
        {% if success %}
            <div id="separador" class="alert alert-success" role="alert">
                El tipo de intervencion <b>{{ tipo_intervencion.descripcion }}</b> fue agregada correctamente.
            </div>
        {% endif %}
    {% endblock %}

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({boundary: 'window'});
        });
        $(document).ready(function(){
            $("#filtro-tipo-intervenciones").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tipo-intervenciones li").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <h2>Tipos de Intervención</h2>
    <input class="form-control" id="filtro-tipo-intervenciones" type="text" placeholder="Filtrar tipo de intervencion...">
    <ul class="list-group" style="max-height: 200px; overflow-y: scroll; white-space: nowrap;" id="tipo-intervenciones">
        {% for t in tipos %}
            <li id="example" class="list-group-item" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-html="true"
                data-placement="right" data-content="<a class='btn btn-primary' href='{% url 'menu:eliminar-tipo-intervencion' id=t.id %}'>
                    Eliminar</a></br>">
                {{ t }}
            </li>
        {% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        <br>
        <h4>Alta de nuevo tipo de intervención</h4>
        {% include 'common/form_template.html' with form=form %}
        <button type="submit" style="margin-top: 10px; float: right;" class="btn btn-primary">Añadir</button>
    </form>
{% endblock %}
