{% extends "menu/index.html" %}

{#{% load widget_tweaks %}#}

{% block title %}<title>Tutorías: Agregar grupo</title>{% endblock %}

{% block content %}
    {% block warning %}
        {% if success %}
            <div id="separador" class="alert alert-success" role="alert">
                El grupo <b>{{ grupo.titulo }}</b> fue dado de alta correctamente.
            </div>
        {% endif %}
        {% if error_alumno %}
            <div id="separador" class="alert alert-danger" role="alert">
                Alguno de los alumnos escogidos no se encuentra en el sysacad.
            </div>
        {% endif %}
    {% endblock %}
    <h2>Nuevo Grupo</h2>
    <div class="row">
        <div class="col">
            <form method="post">{% csrf_token %}
                {% include 'common/form_template.html' with form=form %}
                <button type="submit" style="margin-top: 10px; float: right;" class="btn btn-primary">Añadir</button>
            </form>
        </div>
    </div>

    <script>
        $('#id_alumnos').flexdatalist({
            minLength: 1
        });
    </script>
{% endblock %}

{##}
{#{% for hidden_field in form.hidden_fields %}#}
{#    {{ hidden_field }}#}
{#{% endfor %}#}
{##}
{#{% if form.non_field_errors %}#}
{#    <div class="alert alert-danger" role="alert">#}
{#        {% for error in form.non_field_errors %}#}
{#            {{ error }}#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endif %}#}
{##}
{##}
{#{% for field in form.visible_fields %}#}
{#    <div class="form-group">#}
{#        {{ field.label_tag }}#}
{##}
{#        {% if form.is_bound %}#}
{#            {% if field.errors %}#}
{#                {% render_field field class="form-control bg-light is-invalid" %}#}
{#                {% for error in field.errors %}#}
{#                    <div class="invalid-feedback">#}
{#                        {{ error }}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            {% else %}#}
{#                {% render_field field class="form-control bg-light is-valid" %}#}
{#            {% endif %}#}
{#        {% else %}#}
{#            {% render_field field class="form-control bg-light" %}#}
{#        {% endif %}#}
{##}
{#        {% if field.help_text %}#}
{#            <small class="form-text text-muted">{{ field.help_text }}</small>#}
{#        {% endif %}#}
{#    </div>#}
{#{% endfor %}#}
