{% extends "menu/index.html" %}

{% block title %}<title>Tutorías: Agregar tutor</title>{% endblock %}

{% block content %}

    <script>
        $(function() {
            var tipo = $("#id_tipo");
            var hidden = $("#id_materia");
            hidden.parent().hide();
            if (tipo.val() == 'Academico') {
                    hidden.parent().show();
            } else {
                hidden.parent().hide();
            }
            tipo.change(function() {
                if (tipo.val() == 'Academico') {
                    hidden.parent().show();
                } else {
                    hidden.parent().hide();
                };
            });
        });
    </script>

    {% block warning %}
        {% if not_found %}
            <div id="separador" class="alert alert-danger" role="alert">
                No existe ningún registro en el SYSACAD para el DNI: <b>{{ dni }}</b>. Por favor cargue los datos del tutor manualmente.
            </div>
        {% endif %}
        {% if success %}
            <div id="separador" class="alert alert-success" role="alert">
                El tutor <b>{{ tutor.nombre }}</b> fue agregado correctamente.
            </div>
        {% endif %}
        {% if error_form %}
            <div id="separador" class="alert alert-danger" role="alert">
                Verifique los campos ingresados.
            </div>
        {% endif %}
    {% endblock %}

    {% if alta_manual %}
            <div class="row">
                <div class="col">
                    <h2>Agregar tutor manualmente</h2>
                    <br>
                    <a class="btn btn-secondary" href="{% url 'menu:alta-tutor' %}">Atras</a>
                    <a class="btn btn-primary" href="{% url 'menu:alta-tutor-personalizada' %}">Añadir Manualmente</a>
                </div>
            </div>
    {% else %}
            <h2>Nuevo Tutor</h2>
            <div class="row">
                <div class="col">
                    <form method="post">{% csrf_token %}
                        {% include 'common/form_template.html' with form=form %}
                        <button type="submit" style="margin-top: 10px; float: right;" class="btn btn-primary">Añadir</button>
                    </form>
                </div>
            </div>
    {% endif %}

{% endblock %}