{% extends "menu/index.html" %}

{% block title %}<title>Tutorías: Agregar tutor</title>{% endblock %}

{% block content %}
        {% block warning %}
            <div class="container">
                <div class="row">
                    <div class="col">
                        {% if not_found %}
                            <div id="separador" class="alert alert-warning" role="alert">
                                No existe ningún registro en el SYSACAD para el DNI ingresado. Por favor cargue los datos del tutor manualmente.
                            </div>
                        {% endif %}
                        {% if success %}
                        <div class="alert alert-success" role="alert">
                            El tutor {{ tutor.nombre }} fue agregado correctamente.
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
{#    {% if mal_form %}#}
{#        {% block warning %}#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col">#}
{#                        <div id="separador" class="alert alert-danger" role="alert">#}
{#                            Verifique la validez de los datos ingresados.#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endblock %}#}
{#    {% endif %}#}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Agregar tutor manualmente</h2>
                <form method="post">{% csrf_token %}
                    {% include 'common/form_template.html' with form=form %}
                    <button id="nuevo-tutor" type="submit" class="btn btn-primary">Añadir manualmente</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}