{% extends "menu/index.html" %}

{% block title %}<title>Tutorías: Agregar tutor</title>{% endblock %}

{% block content %}

    <script>
        $(function() {
            var tipo = $("#id_tipo");
            var hidden = $("#id_materia");
            hidden.parent().hide();
            if (tipo.val() == 'Academico') {
                    hidden.parent().show();
            } else {
                hidden.parent().hide();
            }
            tipo.change(function() {
                if (tipo.val() == 'Academico') {
                    hidden.parent().show();
                } else {
                    hidden.parent().hide();
                };
            });
        });
    </script>

    {% block warning %}
        {% if not_found %}
            <div id="separador" class="alert alert-danger" role="alert">
                No existe ningún registro en el SYSACAD para el DNI: <b>{{ dni }}</b>. Por favor cargue los datos del tutor manualmente.
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success" role="alert">
                El tutor {{ tutor.nombre }} fue agregado correctamente.
            </div>
        {% endif %}
        {% if error_form %}
            <div id="separador" class="alert alert-danger" role="alert">
                Verifique los campos ingresados.
            </div>
        {% endif %}
        {% if bad_dni %}
            <div id="separador" class="alert alert-danger" role="alert">
                El DNI ingresado es incorrecto, un DNI valido tiene 8 digitos
            </div>
        {% endif %}
    {% endblock %}

    <h2>Agregar tutor manualmente</h2>
    <form method="post">{% csrf_token %}
        {% include 'common/form_template.html' with form=form %}
        <button id="nuevo-tutor" type="submit" style="margin-top: 10px; float: right;" class="btn btn-primary">Añadir manualmente</button>
        <a class="btn btn-secondary pull-right mr-2" style="margin-top: 10px!important;" href="{% url 'menu:alta-tutor' %}">Atras</a>
    </form>


{% endblock %}