{% extends "menu/index.html" %}

{% block title %}<title>Tutorías: Agregar tarea de tutor</title>{% endblock %}

{% block content %}
    {% block warning %}
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if success %}
                        <div id="separador" class="alert alert-success" role="alert">
                            La tarea {{ tarea.titulo }} fue asignada correctamente al tutor {{ tutor }}.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="container">
        <h2>Nueva Tarea</h2>
        <div class="row">
            <div class="col">
                <form method="post">{% csrf_token %}
                    {% include 'common/form_template.html' with form=form %}
                    {{ form.media }}
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}