{% extends "menu/index.html" %}

{% block title %}<title>Tutorías: Nuevo alumno</title>{% endblock %}

{% block content %}

    <script>
        $(function() {
            var checkbox = $("#id_discapacidad");
            var hidden = $("#id_tipo_discapacidad");
            hidden.parent().hide();
            checkbox.change(function() {
                if (checkbox.is(':checked')) {
                    hidden.parent().show();
                } else {
                    hidden.parent().hide();
                }
            });
            var checkbox2 = $("#id_dejo_seminario");
            var hidden2 = $("#id_motivo_dejo_seminario");
            hidden2.parent().hide();
            checkbox2.change(function() {
                if (checkbox2.is(':checked')) {
                    hidden2.parent().show();
                } else {
                    hidden2.parent().hide();
                }
            });
        });
    </script>

    {% block warning %}
        {% if not_found %}
            <div id="separador" class="alert alert-danger" role="alert">
                No existe ningun alumno con ese legajo o nombre.
            </div>
        {% endif %}
        {% if success %}
            <div id="separador" class="alert alert-success" role="alert">
                El alumno {{ alumno.nombre }} fue agregado correctamente.
            </div>
        {% endif %}
    {% endblock %}

    <div class="container">
        <h2>Nuevo Alumno</h2>
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {% include 'common/form_template.html' with form=form %}
                    <button type="submit" style="margin-top: 10px; float: right;" class="btn btn-primary">Añadir</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
