{% extends "menu/index.html" %}

{% block title %}<title>Tutorías: Nuevo alumno</title>{% endblock %}

{% block content %}
    {% block warning %}
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if not_found %}
                        <div id="separador" class="alert alert-danger" role="alert">
                            No existe ningun alumno con ese legajo o nombre.
                        </div>
                    {% endif %}
                    {% if success %}
                        <div id="separador" class="alert alert-success" role="alert">
                            El alumno {{ alumno.nombre }} fue agregado correctamente.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'common/form_template.html' with form=form %}
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
