{% extends "menu/index.html" %}

{% block title %}<title>Tutorías: Histórico de alumno</title>{% endblock %}

{% block content %}
    <h2>Buscar Alumno</h2>
    <form class="mt-3" method="post">
        {% csrf_token %}
        <div class="form-group">
            {% include 'common/form_template.html' with form=form %}
        </div>
        <div class="clearfix mb-3">
            <div class="float-right">
                <button type="submit" class="btn btn-secondary"  value="login" tabindex="3">Buscar</button>
            </div>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}