{% extends "menu/index.html" %}

{% block title %}<title>Tutorias: Editar alumno</title>{% endblock %}

{% block content %}
    {% block warning %}
        {% if not_found %}
            <div id="separador" class="alert alert-danger" role="alert">
                Error al editar intervención.
            </div>
        {% endif %}
        {% if success %}
            <div id="separador" class="alert alert-success" role="alert">
                La intervención fue editada correctamente.
            </div>
        {% endif %}
    {% endblock %}
    <form method="post">
        {% csrf_token %}
        {% include 'common/form_template.html' with form=form %}
        <button type="submit" style="margin-top: 10px; float: right;" class="btn btn-primary">Aceptar</button>
        <a class="btn btn-secondary pull-right mr-2" style="color: white!important; margin-top: 10px!important;" onClick="javascript:history.go(-1);">Atras</a>
    </form>
{% endblock %}
