{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {#    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    {#  Para las busquedas seleccionables  #}
    {{ form.media.css }}

    {% block head %}{% endblock %}

    {% block title %}<title>Tutorias: Inicio</title>{% endblock %}

    {#    CON ESTO EN CHROME POR LO MENOS IMPRIME SIN FOOTER Y SIN HEADER...    #}
    <style type="text/css" media="print">
        @page
        {
            size: auto;   /* auto is the initial value */
            margin: 0mm;  /* this affects the margin in the printer settings */
        }
    </style>
</head>

<body class="bg-dark">
<div class="container-fluid px-0" style="min-width: 630px">
    {% block full-navbar %}
        <header>
            <div class="d-none d-lg-block p-3 bg-light border-top border-dark">
                <div class="col-lg-9 mx-auto text-center">
                    <h1 class="m-0 font-weight-bold"><a class="text-dark" href="/"><img src="{% static "logo.png" %}" width="80" height="80" class="d-inline-block align-content-center" alt="">Tutorias UTN FRRe</a></h1>
                </div>
            </div>
            <div class="bg-dark">
                <nav class="navbar navbar-expand-lg navbar-dark col-lg-9 mx-auto">
                    <a class="navbar-brand d-block d-lg-none"  href="{% url 'menu:index' %}">
                        <img src="{% static "logo.png" %}" width="45" height="45" class="d-inline-block align-content-center" alt="">
                        Tutorias UTN FRRe
                    </a>
                    {#    boton cuando es pantalla chica    #}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {#    lo que se collapsea    #}
                    {% if user.is_authenticated %}
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                {#     items de la navbar        #}
                                <li class="nav-item {% if nbar == 'index' %}active{% endif %}">
                                    <a class="nav-link" href="{% url 'menu:index' %}">Inicio</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if nbar == 'alumnos' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Alumno
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'menu:buscar-alumno' %}">Buscar alumno</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'menu:alta-alumno' %}">Nuevo alumno</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if nbar == 'intervencion' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Intervención
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'menu:alta-intervencion' %}">Nueva intervención</a>
                                        <a class="dropdown-item" href="{% url 'menu:intervenciones' %}">Panel de gestión de intervenciones</a>
                                        {#                                    <a class="dropdown-item" href="{% url 'menu:buscar-alumno' %}">Editar intervención</a>#}
                                        {% if user.is_staff %}
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'menu:alta-tipo-intervencion' %}">Nuevo tipo de intervención</a>
                                        {% endif %}
                                    </div>
                                </li>
                                {% if user.is_staff %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle {% if nbar == 'tutores' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Tutor
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{% url 'menu:buscar-tutor' %}">Buscar/Baja tutor</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'menu:alta-tutor' %}">Nuevo tutor</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'menu:listar-grupos' %}">Ver alumnos a cargo</a>
                                        </div>
                                    </li>
                                {% endif %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if nbar == 'grupos' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Grupos
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'menu:alta-grupo' %}">Nuevo grupo</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'menu:listar-grupos' %}">Listar grupos</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle {% if nbar == 'tareas' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Tareas
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'menu:alta-tarea' %}">Nueva tarea</a>
                                        {% now "Y" as c_year %}
                                        {% now "m" as c_month %}
                                        {% now "d" as c_day %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'menu:agenda-tareas' year=c_year month=c_month day=c_day %}">Agenda de tareas</a>
                                    </div>
                                </li>
                                {% if user.is_staff %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle {% if nbar == 'informes' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Informes
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{% url 'menu:ranking-consultas' %}">Obtener ranking de consultas por tema</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'menu:estado-escuelas' %}">Obtener resumen de rendimiento por colegio</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'menu:categorizacion-alumnos' %}">Obtener resumen de categorización de alumnos</a>
                                        </div>
                                    </li>
                                {% endif %}
                                {% if user.is_staff %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle {% if nbar == 'administrador' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Administrador
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{% url 'menu:alta-novedad' %}">Nueva novedad</a>
                                            <a class="dropdown-item" href="{% url 'menu:panel-novedades' %}">Panel de gestión de novedades</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'menu:estadisticas' %}">Estadisticas</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'menu:alta-tipo-intervencion' %}">Nuevo tipo de intervención</a>
                                        </div>
                                    </li>
                                {% endif %}
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active dropdown">
                                    <button type="button" class="btn btn-link nav-link dropdown-toggle" id="dropdown-right-menu-link-auth" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                        <img class="rounded" src="https://www.gravatar.com/avatar/a96a7247f421d7c468ce4008249c324e?s=24&amp;d=https://github.com/identicons/a96a7247f421d7c468ce4008249c324e.png" alt="|" style="width: 24px; height: 24px;"><span class="ml-2">{{ user.first_name }} {{ user.last_name }}</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-right-menu-link-auth">
                                        <span class="dropdown-header">Iniciaste sesión como <b>{{ user.first_name }} {{ user.last_name }}</b></span>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'menu:change_password' %}">Cambiar contraseña</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'logout' %}?next={% url 'menu:index' %}">Cerrar sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item {% if nbar == 'index' %}active{% endif %}">
                                    <a class="nav-link" href="{% url 'menu:index' %}">Inicio</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active dropdown">
                                    <button type="button" class="btn btn-link nav-link dropdown-toggle" id="dropdown-right-menu-link-noauth" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="rounded" src="https://www.gravatar.com/avatar/93e8812f3f724471d8c70f1af174b3b9?s=24&amp;d=https://github.com/identicons/93e8812f3f724471d8c70f1af174b3b9.png" alt="|" style="width: 24px; height: 24px;"><span class="ml-2">Invitado</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-right-menu-link-noauth">
                                        <span class="dropdown-header">No has iniciado sesión</span>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item active" href="{% url 'login' %}">Iniciar sesión</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </nav>
            </div>
        </header>
    {% endblock %}

    {#        cuerpo  #}
    <div class="row mx-0 bg-white">
        <div class="col-lg-8 mx-auto px-4 py-4">
            <noscript>
                &lt;div class="alert alert-warning alert-dismissible" role="alert"&gt;
                &lt;span&gt;&lt;b&gt;Warning!&lt;/b&gt; Please enable javascript in your web browser.&lt;/span&gt;
                &lt;/div&gt;
            </noscript>
            <main>
                {% block content %}
                    {% include "menu/novedades.html" %}
                {% endblock %}
            </main>
        </div>
    </div>
    <footer>
        <div class="bg-dark border-top">
            <nav class="navbar navbar-expand-lg navbar-dark col-md-7 mx-auto">
                <div class="navbar-text mr-auto">
                    <span class="text-light">© <a class="text-light" href="https://github.com/cipiasentini/tutoriasNuevo" target="_blank">Mentoris: Grupo 4</a> 2018 Copyright. Todos los derechos reservados.</span>
                </div>
                {% if user.is_authenticated %}
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            {#                            <li class="nav-item">#}
                            {#                                <a class="nav-link" href="/users/profile/johnthereaper">Mi perfil</a>#}
                            {#                            </li>#}
                            {#                            <li class="nav-item">#}
                            {#                                <a class="nav-link" href="/users/settings">Configuración</a>#}
                            {#                            </li>#}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}?next={{request.path}}">Cerrar sesión</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </nav>
        </div>
    </footer>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap-4.0.0.min.js' %}"></script>
{{ form.media.js }}
</body>

</html>
