{% extends "menu/index.html" %}

{% block title %}<title>Tutorías: Intervenciones a cargo de {{ user.first_name }} {{ user.last_name }}</title>{% endblock %}

{% block content %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

    {% if user.is_staff %}
        <h2>Estado de las intervenciones</h2>
    {% else %}
        <h2>Intervenciones a cargo de {{ user.first_name }} {{ user.last_name }}</h2>
    {% endif %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne" onclick="$.get('{% url "menu:update-session" collapse=1 %}');">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h3><span class="pull-left">Abiertas</span></h3>
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse  {% if request.session.collapse == 1 %}show{% endif %}" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Fecha creación</th>
                                <th scope="col">Alumno</th>
                                {% if user.is_staff %}
                                    <th scope="col">Tutor Asignado</th>
                                {% endif %}
                                <th scope="col">Tipo</th>
                                {#                                <th scope="col">Descripción</th>#}
                                <th scope="col">Materia</th>
                                {#                                    <th scope="col">Estado</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% for int in intervenciones|dictsortreversed:"fecha_alta" %}
                                {% if int.estado == 'Abierta' %}
                                    <tr tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                                        data-html="true" data-content="{% if int.estado == 'Abierta' %}<a class='btn
                                        btn-primary' href='{% url 'menu:cerrar-intervencion' id=int.id %}'>Cerrar Intervencion</a>{% else %}<a
                                        class='btn btn-primary' href='{% url 'menu:abrir-intervencion' id=int.id %}'>Abrir Intervencion</a>{% endif %}">
                                        <td rowspan="2" style="border-width: thick" scope="row">{{ int.fecha_alta }}</td>
                                        <td style="border-width: thick">{{ int.alumno.nombre }}</td>
                                        {% if user.is_staff %}
                                            <td style="border-width: thick">{{ int.tutor_asignado.nombre }}</td>
                                        {% endif %}
                                        <td style="border-width: thick" >{{ int.tipo }}</td>
                                        {#                                        <td>{{ int.descripcion }}</td>#}
                                        <td style="border-width: thick">{{ int.materia.nombre }}</td>
                                        {#                                        <td style="border-width: thick">{{ int.estado }}</td>#}
                                    </tr>
                                    <tr tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                                        data-html="true" data-content="{% if int.estado == 'Abierta' %}<a class='btn
                                        btn-primary' href='{% url 'menu:cerrar-intervencion' id=int.id %}'>Cerrar Intervencion</a>{% else %}<a
                                        class='btn btn-primary' href='{% url 'menu:abrir-intervencion' id=int.id %}'>Abrir Intervencion</a>{% endif %}">
                                        {% if user.is_staff %}
                                            <td colspan="4"><b>Descripción:</b> {{ int.descripcion }}</td>
                                        {% else %}
                                            <td colspan="3"><b>Descripción:</b> {{ int.descripcion }}</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-primary" style="margin-top: 10px; float: right;" href="{% url 'menu:alta-intervencion' %}?next={{request.path}}">Agregar intervención</a>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar intervención</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro que desa eliminar la intervención?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a class='btn btn-danger' href='{% url 'menu:eliminar-intervencion' id=intervenciones.id %}'>Eliminar intervención</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="card">
            <div class="card-header" id="headingTwo" onclick="$.get('{% url "menu:update-session" collapse=2 %}');">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h3><span class="pull-left">Cerradas</span></h3>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse {% if request.session.collapse == 2 %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Fecha creación</th>
                                <th scope="col">Alumno</th>
                                {% if user.is_staff %}
                                    <th scope="col">Tutor Asignado</th>
                                {% endif %}
                                <th scope="col">Tipo</th>
                                {#                                <th scope="col">Descripción</th>#}
                                <th scope="col">Materia</th>
                                {#                                    <th scope="col">Estado</th>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% for int in intervenciones|dictsortreversed:"fecha_alta" %}
                                {% if int.estado == 'Cerrada' %}
                                    <tr tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                                        data-html="true" data-content="{% if int.estado == 'Abierta' %}<a class='btn
                                        btn-primary' href='{% url 'menu:cerrar-intervencion' id=int.id %}'>Cerrar Intervencion</a>{% else %}<a
                                        class='btn btn-primary' href='{% url 'menu:abrir-intervencion' id=int.id %}'>Abrir Intervencion</a>{% endif %}">
                                        <td rowspan="2" style="border-width: thick" scope="row">{{ int.fecha_alta }}</td>
                                        <td style="border-width: thick">{{ int.alumno.nombre }}</td>
                                        {% if user.is_staff %}
                                            <td style="border-width: thick">{{ int.tutor_asignado.nombre }}</td>
                                        {% endif %}
                                        <td style="border-width: thick" >{{ int.tipo }}</td>
                                        {#                                        <td>{{ int.descripcion }}</td>#}
                                        <td style="border-width: thick">{{ int.materia.nombre }}</td>
                                        {#                                        <td style="border-width: thick">{{ int.estado }}</td>#}
                                    </tr>
                                    <tr tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                                        data-html="true" data-content="{% if int.estado == 'Abierta' %}<a class='btn
                                        btn-primary' href='{% url 'menu:cerrar-intervencion' id=int.id %}'>Cerrar Intervencion</a>{% else %}<a
                                        class='btn btn-primary' href='{% url 'menu:abrir-intervencion' id=int.id %}'>Abrir Intervencion</a>{% endif %}">
                                        {% if user.is_staff %}
                                            <td colspan="4"><b>Descripción:</b> {{ int.descripcion }}</td>
                                        {% else %}
                                            <td colspan="3"><b>Descripción:</b> {{ int.descripcion }}</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        {#                        <a class="btn btn-primary" style="margin-top: 10px; float: right;" href="{% url 'menu:alta-intervencion' %}?next={{request.path}}">Agregar intervención</a>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}