{% block title %}<title>Tutorías: Novedades</title>{% endblock %}
{% load static %}

{% block content %}
    {#    <div class="jumbotron">#}
    {#        {% for n in novedades %}#}
    {#            <h1 class="display-4">{{ n.titulo }}</h1>#}
    {#            <hr class="my-4">#}
    {#            <p>{{ n.descripcion|linebreaks }}</p>#}
    {#        {% endfor %}#}
    {#    </div>#}
    {% for n in novedades %}
        <div class="card text-center">
            <div class="card-header">
               <h2>{{ n.titulo }}</h2>
            </div>
            <div class="card-body text-left">
                <h5 class="card-text">{{ n.descripcion|linebreaks }}</h5>
            </div>
            <div class="card-footer text-muted text-right">
                {{ n.fecha_alta }}
            </div>
        </div>
        {% if not forloop.last %}
            </br>
        {% endif %}
    {% endfor %}
    {% if not novedades %}
        <h1 align="center">Bienvenido/a a Mentoris</h1>
        <h3 align="center">una aplicación de Tutorias</h3>
        <img style="display: block!important; margin: auto!important;" src="{% static "logo.png" %}" width="200" height="200" class="d-inline-block align-content-center" alt="">
    {% endif %}
{% endblock %}