{% extends "menu/index.html" %}

{% block content %}

    {% block warning %}
        {% if not_found %}
            <div id="separador" class="alert alert-danger" role="alert">
                Error con novedad
            </div>
        {% endif %}
        {% if success %}
            <div id="separador" class="alert alert-success" role="alert">
                El tipo de intervencion {{ tipo_intervencion.descripcion }} fue agregada correctamente.
            </div>
        {% endif %}
    {% endblock %}

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
    </script>

    {#    <div class="py-3">#}
    <h2>Novedades</h2>

    {% if novedades %}
        <div id="accordion">
        <div class="card">
            {% csrf_token %}
            <div class="card-header" id="headingOne" onclick="$.get('{% url "menu:update-session" collapse=1 %}');">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                        <h3><span class="pull-left">Activas</span></h3>
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse {% if request.session.collapse == 1 %}show{% endif %}" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Fecha creación</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Descripción</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for nov in novedades %}
                                {% if nov.estado == 'Activa' %}
                                    <tr tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                                        data-html="true" data-content="<a class='btn btn-primary'
                                            href='{% url 'menu:cerrar-novedad' id=nov.id %}'>Cerrar novedad</a></br></br>
                                            <a class='btn btn-primary'
                                            href='{% url 'menu:editar-novedad' id=nov.id %}'>Editar novedad</a>">
                                        <td style="border-width: thick">{{ nov.fecha_alta }}</td>
                                        <td style="border-width: thick" >{{ nov.titulo }}</td>
                                        <td style="border-width: thick">{{ nov.descripcion }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-primary" style="margin-top: 10px; float: right;" href="{% url 'menu:alta-novedad' %}?next={{request.path}}">Agregar novedad</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo" onclick="$.get('{% url "menu:update-session" collapse=2 %}');">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h3><span class="pull-left">Inactivas</span></h3>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse {% if request.session.collapse == 2 %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Fecha creación</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Descripción</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for nov in novedades %}
                                {% if nov.estado == 'Cerrada' %}
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter{{ nov.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar novedad</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Está seguro que desa eliminar la novedad?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <a class='btn btn-danger' href='{% url 'menu:eliminar-novedad' id=nov.id %}'>Eliminar novedad</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <tr tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                                        data-html="true" data-content="<a class='btn btn-primary'
                                            href='{% url 'menu:abrir-novedad' id=nov.id %}'>Abrir novedad</a></br></br>
                                            <a class='btn btn-primary'
                                            href='{% url 'menu:editar-novedad' id=nov.id %}'>Editar novedad</a></br></br>
                                            <button type='button' class='btn btn-primary' data-toggle='modal' data-target='#exampleModalCenter{{ nov.id }}'>
                                            Eliminar novedad
                                            </button>">
                                        <td style="border-width: thick">{{ nov.fecha_alta }}</td>
                                        <td style="border-width: thick" >{{ nov.titulo }}</td>
                                        <td style="border-width: thick">{{ nov.descripcion }}</td>
                                        {#                                    <a class='btn btn-primary'#}
                                        {#                                            href='{% url 'menu:eliminar-novedad' id=nov.id %}'>Eliminar novedad</a>#}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-primary" style="margin-top: 10px; float: right;" href="{% url 'menu:alta-novedad' %}?next={{request.path}}">Agregar novedad</a>
                    </ul>
                </div>
            </div>
        </div>
        {#            </div>#}
    {% endif %}
</div>

{% endblock %}