{% extends "menu/index.html" %}
{% load app_filters %}

{% block title %}<title>Tutorías: Ranking de consultas por tema</title>{% endblock %}

{% block content %}
    {% block warning %}
        {% if not_found %}
            <div class="alert alert-danger" role="alert">
                No existen consultas en el periodo seleccionado, por favor intente otras fechas. Recuerde que la busqueda no incluye el dia final, si quiere incluirlo elija un dia posterior.
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                Hubo un problema al intentar realizar la consulta, por favor comuniquese con el administrador.
            </div>
        {% endif %}
    {% endblock %}

    <h2>Ranking consultas desde {{ desde.date }} hasta {{ hasta.date }}</h2>
    <div class="card-body" style="margin: -10px -20px -20px -20px;">
        <ul class="list-group">
            {% for i in intervenciones %}
                <li class="page-link h5 list-group-item d-flex justify-content-between align-items-center" data-toggle="collapse"
                    data-target="#{{ i }}">
                    <b><span class="badge badge-light">></span> {{ i }}</b>
                    <span class="badge badge-primary badge-pill">{{ intervenciones|get_item:i }}</span>
                </li>
                <div class="collapse" id="{{ i }}">
                    <div class="card card-body">
                        {% for d in todas_intervencions %}
                            {% if d|get_element:i %}
                                <p>{{ d|get_element:i }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </ul>
        {#        {% for i in intervenciones %}#}
        {#            <p><b><a href="">{{ i }}:</a></b> {{ intervenciones|get_item:i }} </p>#}
        {#        {% endfor %}#}
    </div>
{% endblock %}